* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
}

.header-bg {
  background-color: black;
}

.header {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: aliceblue;
  gap: 20px;
}

.header-menu li {
  padding: 20px;
  font-size: 18px;
  text-decoration: none;
}

.header-menu li::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #fff;
  margin: 4px;
}
.header-menu li:hover::after {
  width: 100%;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 0%;
  }
  .header-menu li {
    background-color: #111;
    border-radius: 4px;
    padding: 15px;
    margin: 10px;
  }
  .header-menu li::after {
    display: none;
  }
  .header-menu li:hover {
    background-color: #2e2e2e;
  }
}

@media (max-width: 600px) {
  .header-menu {
    padding: 8px;
    gap: 0%;
  }
}
