* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
}
img {
  max-width: 100%;
  display: block;
}

.header-bg {
  background-color: black;
}

.header {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: aliceblue;
  gap: 15px;
}

.header-menu li::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #fff;
  margin-top: 4px;
}

.header-menu a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  padding: 20px;
}

.header-menu li:hover::after {
  width: 100%;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 0%;
  }
  .header-menu li {
    background-color: #111;
    border-radius: 4px;
    padding: 15px;
    margin: 10px;
  }
  .header-menu li::after {
    display: none;
  }
  .header-menu li:hover {
    background-color: #2e2e2e;
  }
}

@media (max-width: 600px) {
  .header-menu {
    padding: 8px;
    gap: 0%;
  }
}

/* MAIN */

.main {
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  max-width: 1200px;
  padding: 20px;
  margin: auto;
}

.main img {
  height: 600px;
}

.main-content {
  align-self: end;
  padding-bottom: 80px;
}
.main h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
}
.main h1 span {
  color: #ffbb00;
}

.main p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
}
.main-content a {
  text-decoration: none;
  padding: 16px;
  color: #332200;
  display: inline-block;
  border-radius: 4px;
  background: linear-gradient(#ffbb00, #f2a50c);
  box-shadow: 0 1px 2px rgba (0, 0, 0, 0.1);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.main-content a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
