* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
img {
  max-width: 100%;
  display: block;
  border-radius: 6px;
}

img [src$=".jpg"] {
  border-radius: 4px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
